<a href="https://colab.research.google.com/github/satyakisen/pandas-ff-comparison/blob/main/Pandas_Parquet_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Parquet Study

In [63]:
!pip install lorem
!pip install pyarrow
!pip install fastparquet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lorem
  Downloading lorem-0.1.1-py3-none-any.whl (5.0 kB)
Installing collected packages: lorem
Successfully installed lorem-0.1.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fastparquet in /usr/local/lib/python3.7/dist-packages (0.8.1)
Requirement already satisfied: fsspec in /usr/local/lib/python3.7/dist-packages (from fastparquet) (2022.8.2)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (1.3.5)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (1.21.6)
Requirement already satisfied: cramjam>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (2.5.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->fastparquet) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->fastparquet) (1.15.0)

In [65]:
import numpy as np
import pandas as pd
from lorem import sentence

In [73]:
n = 1000000
def make_data(row_n):
  words = np.array(sentence().strip().lower().replace(".", " ").split())
  df= pd.DataFrame(
        np.c_[np.random.randn(row_n, 5),
              np.random.randint(0,10, (row_n, 2)),
              np.random.randint(0, 1, (row_n,2)),
              np.array([np.random.choice(words) for i in range(row_n)])
              ],
         columns=list('ABCDEFGHIJ'))
  return df.astype(dtype={'A': float, 'B': float, 'C': float, 'D': float, 'E': float, 'F': int, 'G': int, 'H': int, 'I': int, 'J': str}, copy=True)

df = make_data(n)
df.size

10000000

In [74]:
df.head(5)

          A         B         C         D         E  F  G  H  I           J
0  1.665591  0.784335 -1.271533  0.560633 -1.120160  1  8  0  0      magnam
1  0.381391  0.872228  0.082269  1.075588 -1.781560  0  9  0  0  etincidunt
2  0.488688  0.359747 -1.503605  0.175451  0.355394  1  5  0  0       velit
3 -1.080361 -0.279626 -0.611445 -0.457591 -0.398964  8  6  0  0  etincidunt
4 -0.217043 -0.419938  0.213987  1.608818 -0.689277  8  4  0  0        modi

## Compression is None

### Time to write

In [81]:
%time df.to_parquet('test_auto_none.parquet',engine='auto', compression=None)

CPU times: user 328 ms, sys: 98.8 ms, total: 427 ms
Wall time: 446 ms

In [82]:
%time df.to_parquet('test_parr_none.parquet',engine='pyarrow', compression=None)

CPU times: user 363 ms, sys: 103 ms, total: 466 ms
Wall time: 540 ms

In [83]:
%time df.to_parquet('test_fp_none.parquet',engine='fastparquet', compression=None)

CPU times: user 645 ms, sys: 143 ms, total: 787 ms
Wall time: 859 ms

### File size on disk

In [80]:
%%bash
du -sh test_*_none.parquet

41M	test_auto_none.parquet
79M	test_fp_none.parquet
41M	test_parr_none.parquet

### Time to read

In [92]:
%time df_auto_none = pd.read_parquet('test_auto_none.parquet',engine='auto')

CPU times: user 109 ms, sys: 135 ms, total: 244 ms
Wall time: 168 ms

In [93]:
%time df_parr_none = pd.read_parquet('test_parr_none.parquet',engine='pyarrow')

CPU times: user 105 ms, sys: 136 ms, total: 241 ms
Wall time: 167 ms

In [94]:
%time df_fp_none = pd.read_parquet('test_fp_none.parquet',engine='fastparquet')

CPU times: user 99.6 ms, sys: 120 ms, total: 219 ms
Wall time: 221 ms

### Memory Usage

In [109]:
df_auto_none.info(memory_usage='deep', verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   A       1000000 non-null  float64
 1   B       1000000 non-null  float64
 2   C       1000000 non-null  float64
 3   D       1000000 non-null  float64
 4   E       1000000 non-null  float64
 5   F       1000000 non-null  int64
 6   G       1000000 non-null  int64
 7   H       1000000 non-null  int64
 8   I       1000000 non-null  int64
 9   J       1000000 non-null  object
dtypes: float64(5), int64(4), object(1)
memory usage: 129.4 MB

In [110]:
df_parr_none.info(memory_usage='deep', verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   A       1000000 non-null  float64
 1   B       1000000 non-null  float64
 2   C       1000000 non-null  float64
 3   D       1000000 non-null  float64
 4   E       1000000 non-null  float64
 5   F       1000000 non-null  int64
 6   G       1000000 non-null  int64
 7   H       1000000 non-null  int64
 8   I       1000000 non-null  int64
 9   J       1000000 non-null  object
dtypes: float64(5), int64(4), object(1)
memory usage: 129.4 MB

In [111]:
df_fp_none.info(memory_usage='deep', verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   A       1000000 non-null  float64
 1   B       1000000 non-null  float64
 2   C       1000000 non-null  float64
 3   D       1000000 non-null  float64
 4   E       1000000 non-null  float64
 5   F       1000000 non-null  int64
 6   G       1000000 non-null  int64
 7   H       1000000 non-null  int64
 8   I       1000000 non-null  int64
 9   J       1000000 non-null  object
dtypes: float64(5), int64(4), object(1)
memory usage: 129.4 MB

## Compression is Snappy

### Time to write

In [101]:
%time df.to_parquet('test_auto_snappy.parquet',engine='auto', compression='snappy')

CPU times: user 345 ms, sys: 145 ms, total: 490 ms
Wall time: 522 ms

In [102]:
%time df.to_parquet('test_parr_snappy.parquet',engine='pyarrow', compression='snappy')

CPU times: user 355 ms, sys: 104 ms, total: 459 ms
Wall time: 475 ms

In [103]:
%time df.to_parquet('test_fp_snappy.parquet',engine='fastparquet', compression='snappy')

CPU times: user 714 ms, sys: 114 ms, total: 827 ms
Wall time: 863 ms

### File Size on disk

In [104]:
%%bash
du -sh test_*_snappy.parquet

41M	test_auto_snappy.parquet
45M	test_fp_snappy.parquet
41M	test_parr_snappy.parquet

### Time to read

In [105]:
%time df_auto_snappy = pd.read_parquet('test_auto_none.parquet',engine='auto')

CPU times: user 89.2 ms, sys: 386 ms, total: 476 ms
Wall time: 295 ms

In [106]:
%time df_parr_snappy = pd.read_parquet('test_parr_none.parquet',engine='pyarrow')

CPU times: user 93.3 ms, sys: 241 ms, total: 334 ms
Wall time: 211 ms

In [107]:
%time df_fp_snappy = pd.read_parquet('test_fp_none.parquet',engine='fastparquet')

CPU times: user 108 ms, sys: 100 ms, total: 208 ms
Wall time: 210 ms

### Memory Usage

In [112]:
df_auto_snappy.info(memory_usage='deep', verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   A       1000000 non-null  float64
 1   B       1000000 non-null  float64
 2   C       1000000 non-null  float64
 3   D       1000000 non-null  float64
 4   E       1000000 non-null  float64
 5   F       1000000 non-null  int64
 6   G       1000000 non-null  int64
 7   H       1000000 non-null  int64
 8   I       1000000 non-null  int64
 9   J       1000000 non-null  object
dtypes: float64(5), int64(4), object(1)
memory usage: 129.4 MB

In [113]:
df_parr_snappy.info(memory_usage='deep', verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   A       1000000 non-null  float64
 1   B       1000000 non-null  float64
 2   C       1000000 non-null  float64
 3   D       1000000 non-null  float64
 4   E       1000000 non-null  float64
 5   F       1000000 non-null  int64
 6   G       1000000 non-null  int64
 7   H       1000000 non-null  int64
 8   I       1000000 non-null  int64
 9   J       1000000 non-null  object
dtypes: float64(5), int64(4), object(1)
memory usage: 129.4 MB

In [114]:
df_fp_snappy.info(memory_usage='deep', verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   A       1000000 non-null  float64
 1   B       1000000 non-null  float64
 2   C       1000000 non-null  float64
 3   D       1000000 non-null  float64
 4   E       1000000 non-null  float64
 5   F       1000000 non-null  int64
 6   G       1000000 non-null  int64
 7   H       1000000 non-null  int64
 8   I       1000000 non-null  int64
 9   J       1000000 non-null  object
dtypes: float64(5), int64(4), object(1)
memory usage: 129.4 MB