<a href="https://colab.research.google.com/github/satyakisen/pandas-ff-comparison/blob/main/Pandas_Parquet_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import Cell

import pandas as pd
import numpy as np

In [4]:
# Make Data and check it.
def make_num_data(row_n, col_n):
  arr = np.random.randn(row_n, col_n)
  df = pd.DataFrame(arr, columns=["col_{0}".format(i) for i in range(col_n)])
  return df

n = 100000
df = make_num_data(n, 10)
df.head(5)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,1.224315,1.251096,-0.046843,0.557871,-0.401704,-0.005231,-0.574132,-0.383678,-0.119721,-1.927147
1,-0.427385,0.388667,0.144002,0.799136,1.000892,-2.689835,-0.071995,0.222973,-0.741552,-0.276278
2,-0.706258,-1.172796,0.671530,0.389995,0.438476,-0.000980,2.545912,0.587297,-1.968066,-1.432454
3,-0.472838,-0.447726,2.827174,0.288116,-0.524381,-0.575071,1.159895,-2.871642,0.627757,-1.694742
4,-1.377866,-1.815156,-0.120123,-0.096257,-0.484335,1.178315,0.377910,0.406073,0.705494,-0.216560